body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

.logo_caixa {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px; 
}


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav a:hover {
    border: 1px solid red;
    border-radius: 4px;
}

.banner {
    text-align: center;
    margin-top: 20px;
}

.banner-img {
    max-height: 400px; 
}


.excel-table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse;
    margin-top: 20px;
}

.excel-table th, .excel-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.excel-table th {
    background-color: #f2f2f2;
}

.excel-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.excel-table td:nth-child(6) {
    font-weight: bold;
    color: red;
}

.container_title {
    text-align: center;
    margin-top: 20px;
}

.titulo-separador {
    text-align: center;
    margin: 20px 0;
}

.titulo-separador h2 {
    margin-bottom: 10px;
}
